<% if current_user && can?(:destroy, journey_or_journey_stop) %>
  <div class="row mb-3">
    <div class="col-12">
      <%= link_to "Delete #{journey_or_journey_stop.simple_class_name}", path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-end mt-n1' %>
    </div>
  </div>
<% end %>