<div class="row">
  <div class="col-12">
    <div class="card">
      <% if journey_or_journey_stop.waiting? %>
        <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Images have been scheduled for processing.' } %>
      <% elsif journey_or_journey_stop.processing? %>
        <%= render partial: 'shared/processing_images', locals: { message: 'Please wait. Images are being processed.' } %>
      <% else %>
        <%= render partial: 'shared/images_grid', locals: { thumbnail_image_urls: journey_or_journey_stop.all_thumbnails, image_urls: journey_or_journey_stop.all_maxs, object_id: journey_or_journey_stop.id }%>
      <% end %>
    </div>
  </div>
</div>