<% if current_user && can?(:edit, journey) %>
  <div class="row mb-3">
    <div class="col-12">
      <h3>
        Privacy: <%= journey.access_type.split('_').first %>.
      </h3>
    </div>
  </div>
<% end %>