<h1 
  class="d-inline-block"
  data-controller="facebook"
  data-facebook-link-value="<%= journey_or_journey_stop.link_to_self %>"
  data-facebook-description-value="<%= journey_or_journey_stop.description %>"
>
  <a class="card-link" data-action="click->facebook#share">
    <i class="align-middle" data-feather="facebook"></i> <span class="align-middle"></span>
  </a>
</h1>