<% image_urls_groups.each do |image_urls_group| %>
  <div class="row align-items-center justify-content-center m-0">
    <% image_urls_group.each do |image_url| %>
      <div class="<%= current_row_class(number_of_images: image_urls_groups.map { |group| group.count }.sum)%> p-1">
        <img src="<%= image_url %>" style='width:100%'>
      </div>
    <% end %>
  </div>
<% end %>
