<% image_urls_groups.each do |image_urls_group| %>
  <div class="row align-items-center justify-content-center m-0">
    <% image_urls_group.each do |image_url| %>
      <div class="col-6 p-1">
        <img src="<%= image_url %>" style='width:100%'>
      </div>
    <% end %>
  </div>
<% end %>
