<div 
  class="mb-3"
  data-controller="location" 
  data-location-lat-element-id-value="<%= lat_element_id %>" 
  data-location-long-element-id-value="<%= long_element_id %>"
>
  <label class="form-label">
    <%= message %>
    <br>
    <strong>You need to set a location before going forward.</strong>
  </label>
  <br>

  <div class="row">
    <div class="col-12">
      <input
        id="pac-input"
        class="controls"
        type="text"
        placeholder="Search Box"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" style="height: 450px">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>