<div 
  class="row" 
  data-controller="map"
  data-map-pins-value="<%= pins %>" 
>
  <div 
    class="col-12">
    <div class="card" style="height: 450px">
      <div
        style="height: 100%"
        id="map"
      >
      </div>
    </div>
  </div>
</div>