<div 
  class="row" 
  data-controller="map">
  <div 
    class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <div class="card" style="height: 450px">
      <div
        style="height: 100%"
        id="map"
      >
      </div>
    </div>
  </div>
</div>