  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 text-center">
      <div class="card">
        <div class="card-body">
          <%= message %>
        </div>
      </div>
    </div>
  </div>