<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
    <div class="mb-3">
      <h1 class="h3 d-inline align-middle">About Us</h1>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
		<div class="card">
			<div class="card-body">
        <p>
          Hi,
        </p>
        <p>
          My name is Valentin Lazar and I created this web application as a solution to my problem.
          I like to travel, but making an itinerary takes way too long. At least for me. I have to read countless
          articles by bloggers I do not know, save them if I like them, and later double-check what I
          saved. If I do not know the bloggers, the chance that we have the same taste is minimal.
          Do we like the same food? Do we enjoy the same attractions? And so on. The answer to all these
          is: probably not.
        </p>
        <p>
          The second option would be to check other social networks. The problem that I have here is that very little
          is about traveling.
        </p>
        <p>
          So the obvious solution for me was a platform only for traveling. It should be simple and easy to
          use. I want to see some pictures from my friends and save the location. Thats it. No ads,
          no countless posts about 10 million different things. Just traveling.
        </p>
        <p>
          I hope you enjoy it,
          <br>
          Valentin Lazar
        </p>
      </div>
    </div>
  </div>
</div>
