<meta name="description" content="
  Share a memory
  If you want to share a memory, firstly, you have to create a journey. 
  After a journey is made, you can add multiple stops to it. For example, you are going to Italy tomorrow. 
  It's a perfect time to create a journey. The title could be 'Excited to visit Italy for my first time.' 
  In the description, you can add a few ideas from your plans, and remember to add some pictures.
  After you create a journey, you can add multiple stops to it. For example,
  after arriving in Italy, you find a great pizzeria. Create a stop for it. 
  Add a title, description, and a few pictures. A new detail, a very important one, is the location. 
  The location is essential because other travelers can save it to their map and visit it later.
  Remember to add a stop to your journey each time you see something, visit something, or see fantastic scenery.
  Find new ideas travel ideas
  The idea of the application is to find new, unique places to visit and save them. If browsing through the journeys and seeing a superb stop, 
  you can go to the journey stop page and save the location by pressing "Save Pin." After you save the pin, you can view it on the Pins page.
">

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <h1 class="h3 d-inline align-middle">How It Works</h1>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3>
              Share a memory
            </h3>
            <p>
              If you want to share a memory, firstly, you have to <a href="<%= new_journey_url %>">create a journey</a>. 
              After a journey is made, you can add multiple stops to it. For example, you are going to Italy tomorrow. 
              It's a perfect time to create a journey. The title could be 'Excited to visit Italy for my first time.' 
              In the description, you can add a few ideas from your plans, and remember to add some pictures.
            </p>
            <p>
              After you create a journey, you can add multiple stops to it. For example,
              after arriving in Italy, you find a great pizzeria. Create a stop for it. 
              Add a title, description, and a few pictures. A new detail, a very important one, is the location. 
              The location is essential because other travelers can save it to their map and visit it later.
            </p>
            <p>
              Remember to add a stop to your journey each time you see something, visit something, or see fantastic scenery.
            </p>
            <h3>
              Find new travel ideas
            </h3>
            <p>
              The idea of the application is to find new, unique places to visit and save them. When browsing through the journeys you see a superb stop, 
              you can go to the journey stop page and save the location by pressing "Save Pin." After you save the pin, you can view it on the <a href="<%= map_pins_url %>">Pins page</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
