<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <h1 class="h3 d-inline align-middle">Saved Pins</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card" style="height: 80vh;">
      <div class="card-body" 
        data-controller="map" 
        data-map-pins-value="<%= @map_pins.to_json %>"
        data-map-mapid-value="map"
      >
        <% unless Rails.env.test? %>
          <div style="height: 100%; width: 100%;" id="map">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>