<% if journey_or_journey_stop.waiting? %>
  <h5 class="card-title">
    Please wait. Images have been scheduled for processing.
  </h5>
<% elsif journey_or_journey_stop.processing? %>
  <h5 class="card-title">
    Please wait. Images are being processed.
  </h5>
<% else %>
  <%= render partial: 'shared/images_grid', locals: { thumbnail_image_urls: journey_or_journey_stop.all_thumbnails, image_urls: journey_or_journey_stop.all_maxs, object_id: journey_or_journey_stop.id }%>
<% end %>