<% if current_user.nil? || journey.user != current_user %>
  <% if can?(:buy, journey) %>
    <div class="row mb-3">
      <div class="col-12">
        <%= link_to create_checkout_session_payments_path(journey_id: journey.id), method: :post, class: 'btn btn-success float-end mt-n1' do %>
          <i class="align-middle" data-feather="lock"></i> <span class="align-middle">Buy</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>