<% if can?(:show, journey) %>
  <div class="row">
    <div class="col-12 p-1">
      <%= link_to 'View Journey', journey_path(journey), class: 'btn btn-primary float-end mt-n1' %>
    </div>
  </div>
<% end %>