<meta name="description" content="View latest journeys.">

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
    <% if current_user %>
      <div class="row">
        <div class="col-12">
          <% Journey::AVAILABLE_FILTER_BUTTONS.each do |filter_button| %>
            <%= link_to filter_button.camelize, 
                        journeys_path(which_journeys: filter_button),
                        class: "btn #{which_journeys_button_class(which_journeys: filter_button)}"
            %>
          <% end %>

          <%= link_to "+ New Journey", new_journey_path, class: 'btn btn-primary float-end mt-n1' %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12">
        <%= render partial: 'journeys', locals: { journeys: @journeys } %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-3 float-end">
          <%= paginate @journeys, theme: 'bootstrap4' %>
        </div>
      </div>
    </div>
  </div>
</div>