<%= link_to "+ New Journey", new_journey_path, class: 'btn btn-primary float-end mt-n1' %>

<div class="mb-3">
  <h1 class="h3 d-inline align-middle"><%= @title %></h1>
</div>

<%= render partial: 'journeys', locals: { journeys: @journeys } %>
