<%= link_to "+ New Journey", new_journey_path, class: 'btn btn-primary float-end mt-n1' %>

<div class="mb-3">
  <h1 class="h3 d-inline align-middle">My Journeys</h1>
</div>

<%= render partial: 'journeys', locals: { journeys: @journeys } %>

<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Others' Journeys</h1>
</div>

<%= render partial: 'journeys', locals: { journeys: @bought_journeys } %>
