<h1 class="h3 mb-3">My Journeys</h1>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<% if @journeys.empty? %>
					You have no journeys yet.
				<% else %>
					<% @journeys.find_in_batches(batch_size: 3) do |group| %>
						<div class="row">
							<% group.each do |journey| %>
								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="card" style="width: 100%;">
										<%= image_tag journey.image, class: 'card-img-top' %>
										<div class="card-body">
											<p class="card-text">
												<b>
													<%= link_to journey.title, journey_path(journey) %>
												</b>
											</p>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Start a new journey", new_journey_path, class: 'btn btn-primary' %>
