<%= render 'journey' %>

<a data-bs-toggle="modal" data-bs-target="#<%= @journey.modal_id %>">
  <div class="settings-toggle">
    <i class="align-middle" data-feather="map-pin"></i><span class="align-middle"></span>
  </div>
</a>
