<% if flash_message %>
  <div data-controller="fadeout">
    <div class="alert alert-<%= flash_message_type %> alert-dismissible" role="alert" data-mdb-animation="fade-out-up">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <div class="alert-message">
        <%= flash_message %>
      </div>
    </div>
  </div>
<% end %>