<% if flash_message %>
  <div class="alert alert-<%= flash_message_type %> alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-message">
      <%= flash_message %>
    </div>
  </div>
<% end %>