<div class="modal fade" id="centeredModalPleaseWait" tabindex="-1" style="display: none;" aria-modal="true" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please wait</h5>
      </div>
      <div class="modal-body m-3">
        <p class="mb-0">
          Your pictures are being uploaded. Depending on the size, it may take a few seconds.
        </p>
        <br>
        <div style="text-align: center;">
          <div class="lds-roller">
            <div>
            </div>
            
            <div>
            </div>
            
            <div>
            </div>
            
            <div>
            </div>
            
            <div>
            </div>
            
            <div>
            </div>
            
            <div>
            </div>
            
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>